---
name: Semantic Release

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          fetch-depth: 0

      - name: Python Semantic Release
        uses: relekang/python-semantic-release@master
        with:
          github_token: ${{ secrets.RELEASE_TOKEN }}
          repository_username: __token__
          repository_password: ${{ secrets.PYPI }}
